
@{
    ViewBag.Title = "type";
    Layout = "~/Views/Shared/_sharedLayout.cshtml";
}
<link href="~/wwwroot/css/mensizecomponent.css" rel="stylesheet" />
<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        <div class="center-1">
            <style type="text/css">
                .login-text-cntnr {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    padding: 100px 0;
                }

                #Login-page {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    text-align: center;
                }

                    #Login-page::before {
                        position: absolute;
                        bottom: -15px;
                        width: 100%;
                        left: 0;
                        height: 15px;
                        content: "";
                        background-image: url(images/code.jpg/);
                    }

                .login-text-cntnr {
                    display: inline-block;
                    position: relative;
                    margin: 0 auto;
                    max-width: 415px;
                    width: 100%;
                }

                    .login-text-cntnr input {
                        margin-bottom: 15px;
                        border-radius: 0;
                        border: 2px solid #000;
                    }

                    .login-text-cntnr h2 {
                        top: -100px;
                        font-size: 40px;
                        color: #333333;
                        margin: 0;
                        text-transform: uppercase;
                        margin-bottom: 40px;
                    }
            </style>
            <div id="Login-page" class="inner-page">

                <div class="inner-page-content">
                    <div class="container">
                        <div class="row">
                            <div class="login-text-cntnr">
                                <h3>Which outfits would you wear?</h3>
                                <form role="form">
                                    <div class="StyleSurveyPage___style-module__style-survey-container___GBFPC StyleSurveyContainer___style-module__style-survey-container___5uLtn" data-page-name="uk_mens_style_sphere_component">
                                        <div class="CheckboxImagePage___style-module__wrapper___Gol5l">
                                            <div class="CheckboxImagePage___style-module__option-wrapper___AHHna CheckboxImagePage___style-module__style-sphere___bAdX3">
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Athletic_v2A">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Athletic shorts with jacket" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Athletic_v2A-0c54e263b39a75094ed8f6542a1e7d0c0c6971f9d17aa05eb207e7fe1f942590.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Athletic_v2A-0c54e263b39a75094ed8f6542a1e7d0c0c6971f9d17aa05eb207e7fe1f942590.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Coastal-Forward_v1">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Faded jeans and short sleeve plaid shirt" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Coastal-Forward_v1-26a6ad9501d831e282cad9572d02fac7433f374db249dc839fd608bf6deff0f1.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Coastal-Forward_v1-26a6ad9501d831e282cad9572d02fac7433f374db249dc839fd608bf6deff0f1.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Coastal-Forward_v2">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Stripped short sleeve button-up with pants" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Coastal-Forward_v2-cea9da3ea3511314bc336af3a2f4a6fc7b873c797bc0ac0820140805e515779a.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Coastal-Forward_v2-cea9da3ea3511314bc336af3a2f4a6fc7b873c797bc0ac0820140805e515779a.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw CheckboxImagePage___style-module__selected___AJGNY" data-testid="M_SS_Creative-Casual-All-American_v3">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Stone pants with jacket over white shirt" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-All-American_v3-45aa19fd2aa37633d9472b7be0af9bc500c950fa5bc399c4e91869e5297571ce.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-All-American_v3-45aa19fd2aa37633d9472b7be0af9bc500c950fa5bc399c4e91869e5297571ce.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Creative-Casual-Athletic_v1">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Cargo pants with puffy jacket" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-Athletic_v1-04033fa31850d39f31d908b37cc37433ad8ed97f023b6c3b1d3df879852ce7ca.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-Athletic_v1-04033fa31850d39f31d908b37cc37433ad8ed97f023b6c3b1d3df879852ce7ca.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Creative-Casual-Easy_v3">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Chinos with v-neck jumper over collared shirt" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-Easy_v3-3848680d540b6476dfaca4c6178bba960be2a4b100c1f21b3ed38dd335c2ccb8.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-Easy_v3-3848680d540b6476dfaca4c6178bba960be2a4b100c1f21b3ed38dd335c2ccb8.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Creative-Casual-Forward_v6">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s"><picture><img alt="Checkered button-up shirt with jacket and trousers" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-Forward_v6-8a483e283b0492aadbf102459af26449b53db7f20aebfafc667dcd52b34dc0d7.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-Forward_v6-8a483e283b0492aadbf102459af26449b53db7f20aebfafc667dcd52b34dc0d7.jpg 1x"></picture></div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Creative-Casual-Forward_v7">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Solid polo shirt with jacket and trousers" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-Forward_v7-a8653c84adad5708e39f7185be94370c3e13011998005a4360261dca601ed4bc.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-Forward_v7-a8653c84adad5708e39f7185be94370c3e13011998005a4360261dca601ed4bc.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Creative-Casual-Medium_v2">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Chinos with solid button up shirt" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-Medium_v2-2174af63657c265aa853bac786fc43ea775c08c52d7a3cf7b5815698b2e48b5d.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-Medium_v2-2174af63657c265aa853bac786fc43ea775c08c52d7a3cf7b5815698b2e48b5d.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Creative-Casual-Preppy-Coastal_v2">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Hawaiian shirt with loose chinos" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-Preppy-Coastal_v2-84a075102be7b2999ae5b2e6feb94925446815c3ed4d71ce4e26669447d60d05.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-Preppy-Coastal_v2-84a075102be7b2999ae5b2e6feb94925446815c3ed4d71ce4e26669447d60d05.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Heritage-Hipster-Forward_v3">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Cuffed jeans with denim button-up shirt" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Heritage-Hipster-Forward_v3-1a8c4cbd4c759ec6ba2074e5b27a5f1cc8f6e7ee6bb3270f7443267fee7d0139.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Heritage-Hipster-Forward_v3-1a8c4cbd4c759ec6ba2074e5b27a5f1cc8f6e7ee6bb3270f7443267fee7d0139.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Heritage-Hipster-Medium_v1">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Plaid shirt with skinny jeans" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Heritage-Hipster-Medium_v1-1780e21b5da62574063c60d3609e3fadc442b7d2e73dda0bc684770ee4889f67.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Heritage-Hipster-Medium_v1-1780e21b5da62574063c60d3609e3fadc442b7d2e73dda0bc684770ee4889f67.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_NY-Modern-Forward_v1">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Leather jacket with black jeans" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_NY-Modern-Forward_v1-71362f0a33d5ae4ba066661a14e5b89b09a57a739f063a7f4e3a87d4ee7cf73a.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_NY-Modern-Forward_v1-71362f0a33d5ae4ba066661a14e5b89b09a57a739f063a7f4e3a87d4ee7cf73a.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_NY-Modern-Medium_v1">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Solid black shirt with black jeans" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_NY-Modern-Medium_v1-9bcd836f06ec41001ed77f899d8df4fe15289db82e918807d33e25a397c7a581.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_NY-Modern-Medium_v1-9bcd836f06ec41001ed77f899d8df4fe15289db82e918807d33e25a397c7a581.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_NY-Modern-Medium_v2">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Short sleeve button-up shirt with jeans" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_NY-Modern-Medium_v2-576a777b39467ae9a3f7a054af2657605c2bf02f54d3d6bca67e7d90c83d00ee.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_NY-Modern-Medium_v2-576a777b39467ae9a3f7a054af2657605c2bf02f54d3d6bca67e7d90c83d00ee.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Preppy-Coastal_v4B">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Surf trunks with hoodie" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Preppy-Coastal_v4B-65d214fa52a6c8e1db34439166ca856a6bf846b3db3554a71f62eccfee03cf12.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Preppy-Coastal_v4B-65d214fa52a6c8e1db34439166ca856a6bf846b3db3554a71f62eccfee03cf12.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Preppy-Forward_v1">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Salmon trousers and crew neck jumper" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Preppy-Forward_v1-30fce31ae19bf3a91fa0e63a777f1e7ab8b539ba88ff499dde70bcaaf3221dbe.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Preppy-Forward_v1-30fce31ae19bf3a91fa0e63a777f1e7ab8b539ba88ff499dde70bcaaf3221dbe.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_All-American-Easy_v1">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Cargo shorts with plaid button-up shirt" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_All-American-Easy_v1-8d9add9bf2553e9e880269aba1eb579853e08f4f7f57e29da064f82fd3990351.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_All-American-Easy_v1-8d9add9bf2553e9e880269aba1eb579853e08f4f7f57e29da064f82fd3990351.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_All-American_v2B">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Plaid button-up shirt with jeans" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_All-American_v2B-068f67cd787c9c27b09dd645516d45cb472ea4f0a8fded0554c08534d88b7fa0.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_All-American_v2B-068f67cd787c9c27b09dd645516d45cb472ea4f0a8fded0554c08534d88b7fa0.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_All-American_v3A">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Raglan shirt with jeans" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_All-American_v3A-69f453f23fd256b7311e8de06911cf33c9c65db73e9fd896c8b532d387abeaa9.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_All-American_v3A-69f453f23fd256b7311e8de06911cf33c9c65db73e9fd896c8b532d387abeaa9.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Athletic_v1A">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Athletic jumper with tracksuit bottoms" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Athletic_v1A-1b08863ac664174f0ba1b83ce2436b7c8ef9106c8de2063d82a5deb033166ae1.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Athletic_v1A-1b08863ac664174f0ba1b83ce2436b7c8ef9106c8de2063d82a5deb033166ae1.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Preppy-Medium_v1">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Short sleeve polo with gingham shorts" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Preppy-Medium_v1-823c47a1a69e4aa8c961d55ac35d124f008d9efbd16f0766efec70cd68e8c65f.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Preppy-Medium_v1-823c47a1a69e4aa8c961d55ac35d124f008d9efbd16f0766efec70cd68e8c65f.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Preppy-Medium_v2">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Stone shorts with checkered button-up shirt" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Preppy-Medium_v2-1539bece40fdedff81a1d9a67b06f79d014371cba6e6c6e4ff607e1a94806810.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Preppy-Medium_v2-1539bece40fdedff81a1d9a67b06f79d014371cba6e6c6e4ff607e1a94806810.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Athletic_v3C">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Polo shirt with black shorts" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Athletic_v3C-558fc60880da7d80b719f03ccc550b517fe82f7d6e7a15d8ec1b7b991e3f9612.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Athletic_v3C-558fc60880da7d80b719f03ccc550b517fe82f7d6e7a15d8ec1b7b991e3f9612.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Creative-Casual-All-American-v5">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Blue polo shirt with jeans and belt" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-All-American-v5-04a78a8fa8df1fc9d9e44ad01ee867c18b8781dd4230aadf14c3bbdb61795bc2.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Creative-Casual-All-American-v5-04a78a8fa8df1fc9d9e44ad01ee867c18b8781dd4230aadf14c3bbdb61795bc2.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                                <span class="CheckboxImagePage___style-module__option-container___Y-itw" data-testid="M_SS_Preppy-Easy_v2">
                                                    <div class="CheckboxImagePage___style-module__image-wrapper___ozn6s">
                                                        <picture>
                                                            <img alt="Plaid 3/4 sleeve button up shirt with dark trousers" src="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Preppy-Easy_v2-29ffac577b38b289fba834a7c6472f0ef42cc4dc78893749e2a96a55037eb12f.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_style_sphere_component/mobile/M_SS_Preppy-Easy_v2-29ffac577b38b289fba834a7c6472f0ef42cc4dc78893749e2a96a55037eb12f.jpg 1x">
                                                        </picture>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="../Authorize/pricing">
                                        <input autocomplete="off" class="form-control sbmt" name="" value="Next" type="button">
                                    </a>
                                    <input autocomplete="off" style="border:none;background:none" name="" value="Already have an Account? Sign In" type="submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>