
@{
    ViewBag.Title = "uk_mens_jeans_fit_component";
    Layout = "~/Views/Shared/_sharedLayout.cshtml";
}

<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        <div class="center-1">
            <style type="text/css">
                .login-text-cntnr {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    padding: 100px 0;
                }

                #Login-page {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    text-align: center;
                }

                    #Login-page::before {
                        position: absolute;
                        bottom: -15px;
                        width: 100%;
                        left: 0;
                        height: 15px;
                        content: "";
                        background-image: url(images/code.jpg/);
                    }

                .login-text-cntnr {
                    display: inline-block;
                    position: relative;
                    margin: 0 auto;
                    max-width: 415px;
                    width: 100%;
                }

                    .login-text-cntnr input {
                        margin-bottom: 15px;
                        border-radius: 0;
                        border: 2px solid #000;
                    }

                    .login-text-cntnr h2 {
                        top: -100px;
                        font-size: 40px;
                        color: #333333;
                        margin: 0;
                        text-transform: uppercase;
                        margin-bottom: 40px;
                    }
            </style>
            <div id="Login-page" class="inner-page">

                <div class="inner-page-content">
                    <div class="container">
                        <div class="row">
                            <div class="">
                                <h3>Choose how you like your jeans to fit.</h3>
                                <form role="form">
                                    <div class="StyleSurveyPage___style-module__style-survey-container___GBFPC StyleSurveyContainer___style-module__style-survey-container___5uLtn" data-page-name="uk_mens_jeans_fit_component">
                                        <div role="region" aria-label="checkbox page" class="CheckboxPage___style-module__container___1ptlr CheckboxPage___style-module__two-cols___qQGuT">
                                            <fieldset class="Checkbox___style-module__fieldset-vertical___ckQux Checkbox___style-module__wrapped___wRKXs Checkbox___style-module__two-cols___jqXVD">
                                                <div>
                                                    <label for="skinny" class="Checkbox___style-module__cell___sBEy8 Checkbox___style-module__text-before-image___udqZh">
                                                        <input type="checkbox" id="skinny" name="skinny" value="skinny">
                                                        <picture>
                                                            <source srcset="https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/desktop/skinny-cd04d0972829a2653d5a3da6621b66925efcbc72af1d6712fe961f83c63351c9.jpg 1x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/desktop/skinny@2x-f2be00602dbdd6d6ae96773820084d4726e26736e06b2ab8eebd921c08588d61.jpg 2x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/desktop/skinny@3x-21119e9aee7f5f6b5f7f0efe7c3e54e4de195e38f7362d84da4796f0dfcd8d01.jpg 3x" media="(min-width: 1024px)">
                                                            <img alt="Skinny" src="https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/skinny-78b578d207be94f25c1497c7b0041759b8ba8b0a998112ccdefa09aa624d472e.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/skinny-78b578d207be94f25c1497c7b0041759b8ba8b0a998112ccdefa09aa624d472e.jpg 1x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/skinny@2x-47fc6d3d9d4d3051162e8efc99975a9cbacd6729807e1f5bb54a312995ff931b.jpg 2x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/skinny@3x-d362954f36f729c30a8032abd1c626907c0eec3db1898f0791d71b68f4f275f9.jpg 3x">
                                                        </picture>
                                                        @*<span class="Checkbox___style-module__checkbox-label___Wz0B5">Skinny</span>*@
                                                        @*<span class="Checkbox___style-module__checkbox-caption___Ok4RT">Cut narrow through the thigh, tight at the ankle</span>*@
                                                    </label>
                                                    <label for="slim" class="Checkbox___style-module__cell___sBEy8 Checkbox___style-module__text-before-image___udqZh">
                                                        <input type="checkbox" id="slim" name="slim" value="slim">
                                                        <picture>
                                                            <source srcset="https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/desktop/slim-ca03ebcf4dbb42c2e2f7bd12b6b8a387feb73d6430cba239b7f187fbc8fc2970.jpg 1x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/desktop/slim@2x-731d1899e9515f5468656990e464163182a3bd47afdc2d159d8a15a61c3fb99f.jpg 2x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/desktop/slim@3x-1fb30bd0f63e6aa02634a3662da6ceb941c7c045eb785ba3699d78f10b70227b.jpg 3x" media="(min-width: 1024px)">
                                                            <img alt="Slim" src="https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/slim-57742c8fe62bf9a4e1f7fb20daf113d58c80b945c50aa4c9c0f39160f32d3b9b.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/slim-57742c8fe62bf9a4e1f7fb20daf113d58c80b945c50aa4c9c0f39160f32d3b9b.jpg 1x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/slim@2x-56786362fe91764723584664df0f48d8afe4b6d2da3aca9750bbb46f72e17605.jpg 2x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/slim@3x-fbaf70a3bf131cb093b072507a241eea4cdd98404424cc320ec13af6ffce28e7.jpg 3x">
                                                        </picture>
                                                        @*<span class="Checkbox___style-module__checkbox-label___Wz0B5">Slim</span><span class="Checkbox___style-module__checkbox-caption___Ok4RT">Cut loose through the thigh, slightly narrow at the ankle</span>*@
                                                    </label>
                                                    <label for="straight" class="Checkbox___style-module__cell___sBEy8 Checkbox___style-module__text-before-image___udqZh">
                                                        <input type="checkbox" id="straight" name="straight" value="straight">
                                                        <picture>
                                                            <source srcset="https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/desktop/straight-79b3e4d525df64302f86aa1e30172d924f6457f1f7e199dd8ba1b292bcfe4a38.jpg 1x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/desktop/straight@2x-cfe143804558ff9cbcbe7c9a200efcc456687ca64136d0b7f420e0fa9a048343.jpg 2x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/desktop/straight@3x-42a6770c6b1b28af4d539f3e4f2791be2c0ffbb1c2931cafb5b54f493d008405.jpg 3x" media="(min-width: 1024px)">
                                                            <img alt="Straight" src="https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/straight-e77a256daa2e39cfab53c6faba26220951bc194450e023cc87db9f25e3040bc1.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/straight-e77a256daa2e39cfab53c6faba26220951bc194450e023cc87db9f25e3040bc1.jpg 1x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/straight@2x-18c12ce6d0cd65660164f4ef8b85f2f771f8ffa4731c293fa070e929a5415b15.jpg 2x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/straight@3x-f6d1e6982ab41064131085bfea333a1d673814f89c1fd3d23cac56dce1421e86.jpg 3x">
                                                        </picture>
                                                        @*<span class="Checkbox___style-module__checkbox-label___Wz0B5">Straight</span><span class="Checkbox___style-module__checkbox-caption___Ok4RT">Comfortable through the thigh, straight below the knee</span>*@
                                                    </label>
                                                    <label for="relaxed" class="Checkbox___style-module__cell___sBEy8 Checkbox___style-module__text-before-image___udqZh">
                                                        <input type="checkbox" id="relaxed" name="relaxed" value="relaxed">
                                                        <picture>
                                                            <source srcset="https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/desktop/relaxed-f5538533f6e312abb54dfced9f5b718259f1248e4b956f60bd0585d953bc16d9.jpg 1x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/desktop/relaxed@2x-0082ba789521d6f51743b6f97350d109c8b52dfd5b656d605fe104f6d5fa1898.jpg 2x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/desktop/relaxed@3x-b673155960f1d148c130b70c0419a82ea853200ad2d0c4e42976b47cda7efcf2.jpg 3x" media="(min-width: 1024px)">
                                                            <img alt="Relaxed" src="https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/relaxed-9e004bc9d263636b0222d3dcedac28d2a9a22f5e5e23a4fafcdc06b71d4905ef.jpg" srcset="https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/relaxed-9e004bc9d263636b0222d3dcedac28d2a9a22f5e5e23a4fafcdc06b71d4905ef.jpg 1x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/relaxed@2x-0b36f5f6aa8ef400cf211ef96cb69dccbbdf252ad4e4d6458f42a631233e3b53.jpg 2x,https://assets.stitchfix.com/dasher/assets/components/mens_enhanced_jeans_fit_component/mobile/relaxed@3x-b76bffc550bb88ac3a44bb20d3c3944dd13de150014367377a8d709587e6fb74.jpg 3x">
                                                        </picture>
                                                        @*<span class="Checkbox___style-module__checkbox-label___Wz0B5">Relaxed</span><span class="Checkbox___style-module__checkbox-caption___Ok4RT">Relaxed through the thigh, straight below the knee</span>*@
                                                    </label>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="login-text-cntnr">
                                        <a href="../Authorize/type">
                                            <input autocomplete="off" class="form-control sbmt" name="" value="Next" type="button">
                                        </a>
                                        <input autocomplete="off" style="border:hidden; background:none" name="" value="Already have an Account? Sign In" type="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>