
@{
    ViewBag.Title = "uk_mens_primary_objectives_component";
    Layout = "~/Views/Shared/_sharedLayout.cshtml";
}
<link href="~/wwwroot/css/mensizecomponent.css" rel="stylesheet" />
<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        <div class="center-1">
            <style type="text/css">
                .login-text-cntnr {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    padding: 100px 0;
                }

                #Login-page {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    text-align: center;
                }

                    #Login-page::before {
                        position: absolute;
                        bottom: -15px;
                        width: 100%;
                        left: 0;
                        height: 15px;
                        content: "";
                        background-image: url(images/code.jpg/);
                    }

                .login-text-cntnr {
                    display: inline-block;
                    position: relative;
                    margin: 0 auto;
                    max-width: 415px;
                    width: 100%;
                }

                    .login-text-cntnr input {
                        margin-bottom: 15px;
                        border-radius: 0;
                        border: 2px solid #000;
                    }

                    .login-text-cntnr h2 {
                        top: -100px;
                        font-size: 40px;
                        color: #333333;
                        margin: 0;
                        text-transform: uppercase;
                        margin-bottom: 40px;
                    }

                .test:focus:after {
                    border-radius: 1000px;
                }

                .SelectableButton___selectableButton-module__root___GiA2u_kfi {
                    color: #25282d;
                    background-color: transparent;
                    border-color: #25282d;
                    border-width: 1px;
                }

                .SelectableButton___selectableButton-module__small___oFOfK_kfi {
                    display: inline-block;
                    border: 2px solid transparent;
                    text-align: center;
                    white-space: nowrap;
                    text-decoration: none;
                }
            </style>
            <div id="Login-page" class="inner-page">

                <div class="inner-page-content">
                    <div class="container">
                        <div class="row">
                            <div class="login-text-cntnr">
                                <h3>What are the reasons you're excited to try Stitch Fix?</h3>
                                <form role="form">
                                    <div role="region" aria-label="checkbox page" class="CheckboxPage___style-module__container___1ptlr">
                                        <div class=" ">
                                            <div>
                                                <div class="test">
                                                    <label style="min-width: 8rem;">
                                                        <input type="checkbox" name="uk_mens_onboarding_primary_objectives" value="try_new_items">Try new items
                                                    </label>
                                                </div>
                                                <div class=" ">
                                                    <label style="min-width: 8rem;"><input type="checkbox" id="uk_mens_onboarding_primary_objectives1-discovery" name="uk_mens_onboarding_primary_objectives" value="discovery" checked="">Discover new trends</label>
                                                </div>
                                                <div class=" ">
                                                    <label style="min-width: 8rem;">
                                                        <input type="checkbox" id="uk_mens_onboarding_primary_objectives1-save_time" name="uk_mens_onboarding_primary_objectives" value="save_time">Save time
                                                    </label>
                                                </div>
                                                <div class=" ">
                                                    <label style="min-width: 8rem;">
                                                        <input type="checkbox" id="uk_mens_onboarding_primary_objectives1-expert_advice" name="uk_mens_onboarding_primary_objectives" value="expert_advice" checked="">Expert advice
                                                    </label>
                                                </div>
                                                <div class=" ">
                                                    <label style="min-width: 8rem;">
                                                        <input type="checkbox" id="uk_mens_onboarding_primary_objectives1-exclusive_brands" name="uk_mens_onboarding_primary_objectives" value="exclusive_brands" checked="">Access to exclusive brands
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="../Authorize/uk_height_component">
                                        <input autocomplete="off" class="form-control sbmt" name="" value="Next" type="button">
                                    </a>
                                    <input autocomplete="off" style="border:hidden; background:none" name="" value="Already have an Account? Sign In" type="submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>