
@{
    ViewBag.Title = "uk_mens_size_component";
    Layout = "~/Views/Shared/_sharedLayout.cshtml";
}

<link href="~/wwwroot/css/mensizecomponent.css" rel="stylesheet" />
<script src="~/wwwroot/js/mensizecomponent.js"></script>
<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        <div class="center-1">
            <style type="text/css">
                .login-text-cntnr {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    padding: 100px 0;
                }

                #Login-page {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    text-align: center;
                }

                    #Login-page::before {
                        position: absolute;
                        bottom: -15px;
                        width: 100%;
                        left: 0;
                        height: 15px;
                        content: "";
                        background-image: url(images/code.jpg/);
                    }

                .login-text-cntnr {
                    display: inline-block;
                    position: relative;
                    margin: 0 auto;
                    max-width: 415px;
                    width: 100%;
                }

                    .login-text-cntnr input {
                        margin-bottom: 15px;
                        border-radius: 0;
                        border: 2px solid #000;
                    }

                    .login-text-cntnr h2 {
                        top: -100px;
                        font-size: 40px;
                        color: #333333;
                        margin: 0;
                        text-transform: uppercase;
                        margin-bottom: 40px;
                    }
            </style>
            <div id="Login-page" class="inner-page">

                <div class="inner-page-content">
                    <div class="container">
                        <div class="row">
                            <div class="">
                                <h3>What sizes do you typically wear?</h3>
                                <form role="form">
                                    <div class="SizePage___style-module__container___0z3vw" role="region" aria-label="size page">
                                        <div>
                                            <div class="SizePage___style-module__size-chart-expand___0ccFv">
                                                <button type="button" class="SizePage___style-module__size-chart-button___gp2Da">Size chart</button>
                                            </div>
                                            <fieldset class="SizeWidget___style-module__size-widget-container___T4IQ1 SizeWidget___style-module__collapse___arXaN">
                                                <div class="SizeWidget___style-module__widget___f1Iea">
                                                    <h3 style="margin-right:80px">Shirt</h3>
                                                    @*<legend class="SizeWidget___style-module__widget-title___SR3fy">Shirt</legend>*@
                                                    <div data-testid="scroll-container" class="SizeWidget___style-module__sizes-container___oDfbZ">
                                                        <label for="uk_mens_onboarding_shirt_size_generic1016" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j"></span>
                                                            <input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_shirt_size_generic1016" name="uk_mens_onboarding_shirt_size_generic" value="1016">
                                                            <span class="Radio___style-module__option___0cgbo">S</span>
                                                        </label><label for="uk_mens_onboarding_shirt_size_generic1017" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j"></span>
                                                            <input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_shirt_size_generic1017" name="uk_mens_onboarding_shirt_size_generic" value="1017"><span class="Radio___style-module__option___0cgbo">M</span>
                                                        </label><label for="uk_mens_onboarding_shirt_size_generic1018" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_shirt_size_generic1018" name="uk_mens_onboarding_shirt_size_generic" value="1018"><span class="Radio___style-module__option___0cgbo">L</span></label><label for="uk_mens_onboarding_shirt_size_generic1019" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_shirt_size_generic1019" name="uk_mens_onboarding_shirt_size_generic" value="1019" checked=""><span class="Radio___style-module__option___0cgbo">XL</span></label><label for="uk_mens_onboarding_shirt_size_generic1020" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j"></span>
                                                            <input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_shirt_size_generic1020" name="uk_mens_onboarding_shirt_size_generic" value="1020"><span class="Radio___style-module__option___0cgbo">XXL</span>
                                                        </label>
                                                    </div><div class="SizeWidget___style-module__spacer-div___GfH9z"></div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="SizeWidget___style-module__size-widget-container___T4IQ1 SizeWidget___style-module__collapse___arXaN">
                                                <div class="SizeWidget___style-module__widget___f1Iea">
                                                    @*<legend class="SizeWidget___style-module__widget-title___SR3fy">
                                                            Collar
                                                        </legend>*@
                                                    <h3 style="margin-right:70px">Collar</h3>
                                                    <button type="button" class="SizeWidget___style-module__navigation___424KL SizeWidget___style-module__navigation--left___bYuoG" data-testid="navigation-left" disabled="">
                                                        <img src="https://assets.stitchfix.com/dasher/packs/media/icons/icon-chevron-left-16px-e5f87887.svg" class="SizeWidget___style-module__navigation-image___zbkPG" alt="left button navigation for uk_mens_onboarding_size_collar question">
                                                    </button>
                                                    <div data-testid="scroll-container" class="SizeWidget___style-module__sizes-container___oDfbZ">
                                                        <label for="uk_mens_onboarding_size_collar14.5" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j">

                                                            </span>
                                                            <input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_collar14.5" name="uk_mens_onboarding_size_collar" value="14.5">
                                                            <span class="Radio___style-module__option___0cgbo">
                                                                14.5
                                                            </span>
                                                        </label>
                                                        <label for="uk_mens_onboarding_size_collar15" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j">
                                                            </span>
                                                            <input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_collar15" name="uk_mens_onboarding_size_collar" value="15"><span class="Radio___style-module__option___0cgbo">15</span>
                                                        </label>
                                                        <label for="uk_mens_onboarding_size_collar15.5" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j">
                                                            </span>
                                                            <input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_collar15.5" name="uk_mens_onboarding_size_collar" value="15.5"><span class="Radio___style-module__option___0cgbo">15.5</span>
                                                        </label><label for="uk_mens_onboarding_size_collar16" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_collar16" name="uk_mens_onboarding_size_collar" value="16"><span class="Radio___style-module__option___0cgbo">16</span></label><label for="uk_mens_onboarding_size_collar16.5" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_collar16.5" name="uk_mens_onboarding_size_collar" value="16.5"><span class="Radio___style-module__option___0cgbo">16.5</span></label><label for="uk_mens_onboarding_size_collar17" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_collar17" name="uk_mens_onboarding_size_collar" value="17"><span class="Radio___style-module__option___0cgbo">17</span></label><label for="uk_mens_onboarding_size_collar17.5" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_collar17.5" name="uk_mens_onboarding_size_collar" value="17.5"><span class="Radio___style-module__option___0cgbo">17.5</span></label>
                                                    </div>
                                                    <button type="button" class="SizeWidget___style-module__navigation___424KL SizeWidget___style-module__navigation--right___kbg8U" disabled=""><img src="https://assets.stitchfix.com/dasher/packs/media/icons/icon-chevron-right-16px-0d6ef0aa.svg" class="SizeWidget___style-module__navigation-image___zbkPG" alt="right button navigation for uk_mens_onboarding_size_collar question"></button><div class="SizeWidget___style-module__spacer-div___GfH9z"></div>
                                                </div>
                                            </fieldset><div class="SizePage___style-module__checkbox-container___UW0Vv">
                                                <fieldset class="Checkbox___style-module__wrapper-sizepage___0hr2D Checkbox___style-module__wrapped___wRKXs">
                                                    <div>
                                                        <label for="uk_mens_onboarding_size_collar" class="Checkbox___style-module__tickbox___NyQXb">
                                                            <input type="checkbox" id="uk_mens_onboarding_size_collar" name="uk_mens_onboarding_size_collar">
                                                            <span class="Checkbox___style-module__checkbox-label___Wz0B5">
                                                                I don't know
                                                            </span>
                                                        </label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <fieldset class="SizeWidget___style-module__size-widget-container___T4IQ1 SizeWidget___style-module__collapse___arXaN">
                                                <div class="SizeWidget___style-module__widget___f1Iea">
                                                    @*<legend class="SizeWidget___style-module__widget-title___SR3fy">
                                                            Blazer
                                                        </legend>*@
                                                    <h3 style="margin-right:70px">Blazer  </h3>
                                                    <button type="button" class="SizeWidget___style-module__navigation___424KL SizeWidget___style-module__navigation--left___bYuoG" data-testid="navigation-left" disabled="">
                                                        <img src="https://assets.stitchfix.com/dasher/packs/media/icons/icon-chevron-left-16px-e5f87887.svg" class="SizeWidget___style-module__navigation-image___zbkPG" alt="left button navigation for uk_mens_onboarding_size_blazers question">
                                                    </button>
                                                    <div data-testid="scroll-container" class="SizeWidget___style-module__sizes-container___oDfbZ">
                                                        <label for="uk_mens_onboarding_size_blazers1045" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j">
                                                            </span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_blazers1045" name="uk_mens_onboarding_size_blazers" value="1045"><span class="Radio___style-module__option___0cgbo">36</span>
                                                        </label>
                                                        <label for="uk_mens_onboarding_size_blazers1046" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j">
                                                            </span>
                                                            <input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_blazers1046" name="uk_mens_onboarding_size_blazers" value="1046">
                                                            <span class="Radio___style-module__option___0cgbo">38</span>
                                                        </label>
                                                        <label for="uk_mens_onboarding_size_blazers1047" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j">
                                                            </span>
                                                            <input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_blazers1047" name="uk_mens_onboarding_size_blazers" value="1047">
                                                            <span class="Radio___style-module__option___0cgbo">
                                                                40
                                                            </span>
                                                        </label>
                                                        <label for="uk_mens_onboarding_size_blazers1048" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j">
                                                            </span>
                                                            <input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_blazers1048" name="uk_mens_onboarding_size_blazers" value="1048">
                                                            <span class="Radio___style-module__option___0cgbo">
                                                                42
                                                            </span>
                                                        </label>
                                                        <label for="uk_mens_onboarding_size_blazers1049" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j">
                                                            </span>
                                                            <input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_blazers1049" name="uk_mens_onboarding_size_blazers" value="1049"><span class="Radio___style-module__option___0cgbo">44</span>
                                                        </label><label for="uk_mens_onboarding_size_blazers1050" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_blazers1050" name="uk_mens_onboarding_size_blazers" value="1050"><span class="Radio___style-module__option___0cgbo">46</span></label>
                                                    </div>
                                                    <button type="button" class="SizeWidget___style-module__navigation___424KL SizeWidget___style-module__navigation--right___kbg8U" disabled=""><img src="https://assets.stitchfix.com/dasher/packs/media/icons/icon-chevron-right-16px-0d6ef0aa.svg" class="SizeWidget___style-module__navigation-image___zbkPG" alt="right button navigation for uk_mens_onboarding_size_blazers question"></button><div class="SizeWidget___style-module__spacer-div___GfH9z"></div>
                                                </div>
                                            </fieldset>
                                            <div class="SizePage___style-module__checkbox-container___UW0Vv">
                                                <fieldset class="Checkbox___style-module__wrapper-sizepage___0hr2D Checkbox___style-module__wrapped___wRKXs"><div><label for="uk_mens_onboarding_size_blazers" class="Checkbox___style-module__tickbox___NyQXb"><input type="checkbox" id="uk_mens_onboarding_size_blazers" name="uk_mens_onboarding_size_blazers" value="unknown" checked=""><span class="Checkbox___style-module__checkbox-label___Wz0B5">I don't know</span></label></div></fieldset>
                                            </div><fieldset class="SizeWidget___style-module__size-widget-container___T4IQ1 SizeWidget___style-module__collapse___arXaN">
                                                <div class="SizeWidget___style-module__widget___f1Iea">
                                                    @*<legend class="SizeWidget___style-module__widget-title___SR3fy">Bottom</legend>*@
                                                    <h3 style="margin-right:70px">Bottom</h3>
                                                    <button type="button" class="SizeWidget___style-module__navigation___424KL SizeWidget___style-module__navigation--left___bYuoG" data-testid="navigation-left" disabled="">
                                                        <img src="https://assets.stitchfix.com/dasher/packs/media/icons/icon-chevron-left-16px-e5f87887.svg" class="SizeWidget___style-module__navigation-image___zbkPG" alt="left button navigation for uk_mens_onboarding_size_bottoms question">
                                                    </button>
                                                    <div data-testid="scroll-container" class="SizeWidget___style-module__sizes-container___oDfbZ">
                                                        <label for="uk_mens_onboarding_size_bottomsS" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j"></span>
                                                            <input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_bottomsS" name="uk_mens_onboarding_size_bottoms" value="S">
                                                            <span class="Radio___style-module__option___0cgbo">S</span>
                                                        </label><label for="uk_mens_onboarding_size_bottomsM" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j">
                                                            </span>
                                                            <input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_bottomsM" name="uk_mens_onboarding_size_bottoms" value="M">
                                                            <span class="Radio___style-module__option___0cgbo">M</span>
                                                        </label><label for="uk_mens_onboarding_size_bottomsL" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_bottomsL" name="uk_mens_onboarding_size_bottoms" value="L"><span class="Radio___style-module__option___0cgbo">L</span></label><label for="uk_mens_onboarding_size_bottomsXL" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_bottomsXL" name="uk_mens_onboarding_size_bottoms" value="XL" checked=""><span class="Radio___style-module__option___0cgbo">XL</span></label><label for="uk_mens_onboarding_size_bottomsXXL" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_bottomsXXL" name="uk_mens_onboarding_size_bottoms" value="XXL"><span class="Radio___style-module__option___0cgbo">XXL</span></label>
                                                    </div>
                                                    <button type="button" class="SizeWidget___style-module__navigation___424KL SizeWidget___style-module__navigation--right___kbg8U" disabled="">
                                                        <img src="https://assets.stitchfix.com/dasher/packs/media/icons/icon-chevron-right-16px-0d6ef0aa.svg" class="SizeWidget___style-module__navigation-image___zbkPG" alt="right button navigation for uk_mens_onboarding_size_bottoms question">
                                                    </button>
                                                    <div class="SizeWidget___style-module__spacer-div___GfH9z"></div>
                                                </div>
                                            </fieldset><fieldset class="SizeWidget___style-module__size-widget-container___T4IQ1 SizeWidget___style-module__collapse___arXaN">
                                                <div class="SizeWidget___style-module__widget___f1Iea">
                                                    @*<legend class="SizeWidget___style-module__widget-title___SR3fy">Waist</legend>*@
                                                    <h3 style="margin-right:80px">Waist</h3>
                                                    <button type="button" class="SizeWidget___style-module__navigation___424KL SizeWidget___style-module__navigation--left___bYuoG" data-testid="navigation-left" disabled="">
                                                        <img src="https://assets.stitchfix.com/dasher/packs/media/icons/icon-chevron-left-16px-e5f87887.svg" class="SizeWidget___style-module__navigation-image___zbkPG" alt="left button navigation for uk_mens_onboarding_size_waist_numerical question">
                                                    </button><div data-testid="scroll-container" class="SizeWidget___style-module__sizes-container___oDfbZ">
                                                        <label for="uk_mens_onboarding_size_waist_numerical1100" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j"></span>
                                                            <input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_waist_numerical1100" name="uk_mens_onboarding_size_waist_numerical" value="1100"><span class="Radio___style-module__option___0cgbo">28</span>
                                                        </label><label for="uk_mens_onboarding_size_waist_numerical1052" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_waist_numerical1052" name="uk_mens_onboarding_size_waist_numerical" value="1052"><span class="Radio___style-module__option___0cgbo">30</span></label><label for="uk_mens_onboarding_size_waist_numerical1053" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_waist_numerical1053" name="uk_mens_onboarding_size_waist_numerical" value="1053"><span class="Radio___style-module__option___0cgbo">32</span></label><label for="uk_mens_onboarding_size_waist_numerical1054" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_waist_numerical1054" name="uk_mens_onboarding_size_waist_numerical" value="1054" checked=""><span class="Radio___style-module__option___0cgbo">34</span></label><label for="uk_mens_onboarding_size_waist_numerical1055" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_waist_numerical1055" name="uk_mens_onboarding_size_waist_numerical" value="1055"><span class="Radio___style-module__option___0cgbo">36</span></label><label for="uk_mens_onboarding_size_waist_numerical1056" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_waist_numerical1056" name="uk_mens_onboarding_size_waist_numerical" value="1056"><span class="Radio___style-module__option___0cgbo">38</span></label><label for="uk_mens_onboarding_size_waist_numerical1057" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_waist_numerical1057" name="uk_mens_onboarding_size_waist_numerical" value="1057"><span class="Radio___style-module__option___0cgbo">40</span></label>
                                                    </div><button type="button" class="SizeWidget___style-module__navigation___424KL SizeWidget___style-module__navigation--right___kbg8U" disabled=""><img src="https://assets.stitchfix.com/dasher/packs/media/icons/icon-chevron-right-16px-0d6ef0aa.svg" class="SizeWidget___style-module__navigation-image___zbkPG" alt="right button navigation for uk_mens_onboarding_size_waist_numerical question"></button><div class="SizeWidget___style-module__spacer-div___GfH9z"></div>
                                                </div>
                                            </fieldset><fieldset class="SizeWidget___style-module__size-widget-container___T4IQ1">
                                            </fieldset>
                                            <fieldset class="SizeWidget___style-module__size-widget-container___T4IQ1">
                                                <div class="SizeWidget___style-module__widget___f1Iea">
                                                    @*<legend class="SizeWidget___style-module__widget-title___SR3fy">Inside leg</legend>*@
                                                    <h3 style="margin-left:-10px; margin-right:65px">Inside Leg</h3>
                                                    <div data-testid="scroll-container" class="SizeWidget___style-module__sizes-container___oDfbZ">
                                                        <label for="uk_mens_onboarding_size_inseam_numerical30" class="Radio___style-module__label___geJl9">
                                                            <span class="Radio___style-module__size-range___t-k8j"></span>
                                                            <input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_inseam_numerical30" name="uk_mens_onboarding_size_inseam_numerical" value="30"><span class="Radio___style-module__option___0cgbo">30</span>
                                                        </label><label for="uk_mens_onboarding_size_inseam_numerical32" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_inseam_numerical32" name="uk_mens_onboarding_size_inseam_numerical" value="32" checked=""><span class="Radio___style-module__option___0cgbo">32</span></label><label for="uk_mens_onboarding_size_inseam_numerical34" class="Radio___style-module__label___geJl9"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_inseam_numerical34" name="uk_mens_onboarding_size_inseam_numerical" value="34"><span class="Radio___style-module__option___0cgbo">34</span></label>
                                                    </div><div class="SizeWidget___style-module__spacer-div___GfH9z"></div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="SizeWidget___style-module__size-widget-container___T4IQ1 SizeWidget___style-module__collapse___arXaN">
                                                <div class="SizeWidget___style-module__widget___f1Iea">
                                                    @*<legend class="SizeWidget___style-module__widget-title___SR3fy">Shoe</legend>*@
                                                    <h3 style="margin-right:50px">Shoe</h3>
                                                    <div class="SizeWidget___style-module__sub-title___msHjr">
                                                        <span class="SizeWidget___style-module__sub-title-option___r032q">
                                                            UK
                                                        </span>
                                                        <span class="SizeWidget___style-module__sub-title-option___r032q">EU</span>
                                                    </div>
                                                    <div data-testid="scroll-container" class="SizeWidget___style-module__sizes-container___oDfbZ SizeWidget___style-module__indent___XDRuw"><label for="uk_mens_onboarding_size_shoe_numerical1143" class="Radio___style-module__label___geJl9 Radio___style-module__rectangle___2Nhnk"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_shoe_numerical1143" name="uk_mens_onboarding_size_shoe_numerical" value="1143"><span class="Radio___style-module__option___0cgbo"><span class="Radio___style-module__split-option___eK0Zw">6</span><span class="Radio___style-module__split-option___eK0Zw">39.5</span></span></label><label for="uk_mens_onboarding_size_shoe_numerical1060" class="Radio___style-module__label___geJl9 Radio___style-module__rectangle___2Nhnk"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_shoe_numerical1060" name="uk_mens_onboarding_size_shoe_numerical" value="1060"><span class="Radio___style-module__option___0cgbo"><span class="Radio___style-module__split-option___eK0Zw">7</span><span class="Radio___style-module__split-option___eK0Zw">40.5</span></span></label><label for="uk_mens_onboarding_size_shoe_numerical1062" class="Radio___style-module__label___geJl9 Radio___style-module__rectangle___2Nhnk"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_shoe_numerical1062" name="uk_mens_onboarding_size_shoe_numerical" value="1062"><span class="Radio___style-module__option___0cgbo"><span class="Radio___style-module__split-option___eK0Zw">8</span><span class="Radio___style-module__split-option___eK0Zw">42</span></span></label><label for="uk_mens_onboarding_size_shoe_numerical1064" class="Radio___style-module__label___geJl9 Radio___style-module__rectangle___2Nhnk"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_shoe_numerical1064" name="uk_mens_onboarding_size_shoe_numerical" value="1064" checked=""><span class="Radio___style-module__option___0cgbo"><span class="Radio___style-module__split-option___eK0Zw">9</span><span class="Radio___style-module__split-option___eK0Zw">43</span></span></label><label for="uk_mens_onboarding_size_shoe_numerical1066" class="Radio___style-module__label___geJl9 Radio___style-module__rectangle___2Nhnk"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_shoe_numerical1066" name="uk_mens_onboarding_size_shoe_numerical" value="1066"><span class="Radio___style-module__option___0cgbo"><span class="Radio___style-module__split-option___eK0Zw">10</span><span class="Radio___style-module__split-option___eK0Zw">44.5</span></span></label><label for="uk_mens_onboarding_size_shoe_numerical1068" class="Radio___style-module__label___geJl9 Radio___style-module__rectangle___2Nhnk"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_shoe_numerical1068" name="uk_mens_onboarding_size_shoe_numerical" value="1068"><span class="Radio___style-module__option___0cgbo"><span class="Radio___style-module__split-option___eK0Zw">11</span><span class="Radio___style-module__split-option___eK0Zw">46</span></span></label><label for="uk_mens_onboarding_size_shoe_numerical1070" class="Radio___style-module__label___geJl9 Radio___style-module__rectangle___2Nhnk"><span class="Radio___style-module__size-range___t-k8j"></span><input class="Radio___style-module__input___Ha63w" type="radio" id="uk_mens_onboarding_size_shoe_numerical1070" name="uk_mens_onboarding_size_shoe_numerical" value="1070"><span class="Radio___style-module__option___0cgbo"><span class="Radio___style-module__split-option___eK0Zw">12</span><span class="Radio___style-module__split-option___eK0Zw">47</span></span></label></div><button type="button" class="SizeWidget___style-module__navigation___424KL SizeWidget___style-module__navigation--right___kbg8U" disabled=""><img src="https://assets.stitchfix.com/dasher/packs/media/icons/icon-chevron-right-16px-0d6ef0aa.svg" class="SizeWidget___style-module__navigation-image___zbkPG" alt="right button navigation for uk_mens_onboarding_size_shoe_numerical question"></button><div class="SizeWidget___style-module__spacer-div___GfH9z"></div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <a href="../Authorize/uk_mens_casual_shirts_style_component">
                                        <input autocomplete="off" class="form-control sbmt" style="width:400px; margin-left:32%" name="" value="Next" type="button">
                                    </a>
                                    <input autocomplete="off" style="border:hidden; background:none" name="" value="Already have an Account? Sign In" type="submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>